@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.3;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
body p {
  margin-bottom: 0;
}
body input:focus {
  outline: none;
}
body button:focus {
  outline: none;
}

body.hidden-scroll {
  overflow: hidden;
}

#goTop {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999999;
  color: #d43b3b;
  cursor: pointer;
  opacity: 0;
}
#goTop:hover {
  background: #d43b3b;
  color: #fff;
}

#fb {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #4267b2;
  color: #fff;
  position: fixed;
  z-index: 1000000;
  bottom: 70px;
  right: 20px;
}
#fb:hover {
  background: #fff;
  color: #4267b2;
}

/* end button */
.popup {
  color: #000;
  background: #fff;
  z-index: -6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 280px;
  position: fixed;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
}
.popup p:first-child {
  height: 30%;
  background: #82ce34;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}
.popup p:first-child span {
  width: 60px;
  height: 60px;
  border: 5px solid #fff;
  color: #fff;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup p:nth-child(2) {
  margin-top: 20px;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #636363;
}
.popup a {
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 70%;
  height: 36px;
  background: #82ce34;
  transition: all 0.5s;
}
.popup a:hover {
  background: #6fb32b;
  transition: all 0.5s;
}

.bg-click-popup {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -6;
  opacity: 0;
}

.contact-top {
  background: #b30000;
}
@media only screen and (max-width: 768px) {
  .contact-top {
    display: none;
  }
}
.contact-top .container {
  padding: 0;
  display: flex;
  align-items: center;
  line-height: 36px;
}
.contact-top .container .marquee {
  max-width: 60%;
  overflow: hidden;
  color: #fff;
  max-height: 36px;
  width: 60%;
}
.contact-top .container > p:first-child {
  max-width: 30%;
  width: 30%;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}

.nav-bar_rdw {
  display: none;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .nav-bar_rdw {
    display: block;
    background: #d43b3b;
    z-index: 8888;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    box-shadow: 2px 2px 2px #e2e2e2;
  }
}
.nav-bar_rdw > div {
  position: relative;
}
.nav-bar_rdw .search_fix {
  box-shadow: 2px 2px 2px #e2e2e2;
  background: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -8889;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 13px;
  opacity: 0;
  transition: all 0.2s;
}
.nav-bar_rdw .search_fix input {
  border: none;
  padding-left: 13px;
  height: 48.6px;
  max-width: 100%;
  width: 100%;
}
.nav-bar_rdw .search_fix input::placeholder {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}
.nav-bar_rdw .search_fix > div {
  display: flex;
}
.nav-bar_rdw .search_fix button {
  background: initial;
  border: none;
  color: #070606;
  outline: none;
}
.nav-bar_rdw .search_fix a {
  font-size: 18px;
  margin-left: 5px;
  color: #070606;
}
.nav-bar_rdw .search_fix.show {
  opacity: 1;
  z-index: 8889;
}
.nav-bar_rdw .top_rdw {
  display: flex;
  padding: 10px 5px 10px 10px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.nav-bar_rdw .top_rdw .header_left_rdw [title="menu"] {
  color: #fff;
  font-size: 22px;
}
.nav-bar_rdw .top_rdw .header_left_rdw #menu_none {
  background: #fff;
  width: 260px;
  position: fixed;
  z-index: 5;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: -1000px;
  box-shadow: 0 3px 27px rgba(0, 0, 0, 0.24);
}
.nav-bar_rdw .top_rdw .header_left_rdw #menu_none > a {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #777;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.nav-bar_rdw .top_rdw .header_left_rdw #menu_none > a:hover {
  color: #d43b3b;
}
.nav-bar_rdw .top_rdw .header_left_rdw #menu_none ul {
  list-style: none;
  margin-top: 5px;
}
.nav-bar_rdw .top_rdw .header_left_rdw #menu_none ul li {
  border-bottom: 1px solid #e2e2e2;
}
.nav-bar_rdw .top_rdw .header_left_rdw #menu_none ul li:hover {
  background: #e2e2e2;
}
.nav-bar_rdw .top_rdw .header_left_rdw #menu_none ul li:hover a {
  color: #d43b3b;
}
.nav-bar_rdw .top_rdw .header_left_rdw #menu_none ul li a {
  text-decoration: none;
  display: block;
  color: #777;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-bar_rdw .top_rdw .header_left_rdw #menu_none.show-menu-none {
  margin: 0;
  transition: all 0.5s;
}
.nav-bar_rdw .top_rdw .header_right_rdw {
  display: flex;
  align-items: center;
}
.nav-bar_rdw .top_rdw .header_right_rdw .search_button {
  outline: none;
  border: none;
  background: #d43b3b;
  margin-right: 5px;
  font-size: 15px;
  color: #fff;
}
.nav-bar_rdw .top_rdw .header_right_rdw .user_button {
  margin-right: 5px;
  background: #d43b3b;
  font-size: 16px;
  outline: none;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar_rdw .top_rdw .header_right_rdw #uesr_none {
  position: fixed;
  background: #fff;
  width: 260px;
  z-index: 5;
  height: 100%;
  right: 0;
  top: 0;
  margin-right: -1000px;
  box-shadow: 0 3px 27px rgba(0, 0, 0, 0.24);
}
.nav-bar_rdw .top_rdw .header_right_rdw #uesr_none > a {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #777;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.nav-bar_rdw .top_rdw .header_right_rdw #uesr_none > a:hover {
  color: #d43b3b;
}
.nav-bar_rdw .top_rdw .header_right_rdw #uesr_none ul {
  list-style: none;
  margin-top: 5px;
}
.nav-bar_rdw .top_rdw .header_right_rdw #uesr_none ul li {
  border-bottom: 1px solid #e2e2e2;
}
.nav-bar_rdw .top_rdw .header_right_rdw #uesr_none ul li:hover {
  background: #e2e2e2;
}
.nav-bar_rdw .top_rdw .header_right_rdw #uesr_none ul li:hover a {
  color: #d43b3b;
}
.nav-bar_rdw .top_rdw .header_right_rdw #uesr_none ul li a {
  text-decoration: none;
  display: block;
  color: #777;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-bar_rdw .top_rdw .header_right_rdw #uesr_none.show-uesr-none {
  margin: 0;
  transition: all 0.5s;
}
.nav-bar_rdw .top_rdw .header_right_rdw .cart_rdw {
  margin-right: 5px;
  display: flex;
  background: #d43b3b;
  font-size: 15px;
  outline: none;
  color: #fff;
  border: none;
  justify-content: center;
  align-items: center;
}
.nav-bar_rdw .top_rdw .header_right_rdw .cart_rdw span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background: #ebeaea;
  border-radius: 50%;
  color: #000;
  margin-left: 5px;
}

.heder_top {
  background: #fff;
}
.heder_top .container {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.heder_top .container .logo {
  display: block;
}
.heder_top .container .logo [alt="Home"] {
  width: 100px;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .heder_top .container .logo {
    margin: auto;
  }
}
.heder_top .container .right_heder_top {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .heder_top .container .right_heder_top {
    display: none;
  }
}
.heder_top .container .right_heder_top form {
  display: flex;
  align-items: center;
}
.heder_top .container .right_heder_top form .search {
  display: flex;
  align-items: center;
}
.heder_top .container .right_heder_top form .search input {
  border: 1px solid #e1e1e1;
  border-right: none;
  padding: 0 0 0 5px;
  height: 36px;
  box-sizing: border-box;
  border-radius: 6px 0 0 6px;
}
.heder_top .container .right_heder_top form .search input::placeholder {
  font-size: 16px;
  font-weight: 500;
}
.heder_top .container .right_heder_top form .search button {
  border: none;
  background: #070606;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 36px;
  height: 36px;
  transition: all 0.5s;
  border-radius: 0 6px 6px 0;
}
.heder_top .container .right_heder_top form .search button:hover {
  background: #d43b3b;
}
.heder_top .container .right_heder_top .add_cart {
  position: relative;
}
.heder_top .container .right_heder_top .add_cart > a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.heder_top .container .right_heder_top .add_cart > a span:first-child {
  color: #fff;
  width: 36px;
  height: 36px;
  background: #d43b3b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  transition: all 0.5s;
  border-radius: 6px 0 0 6px;
}
.heder_top .container .right_heder_top .add_cart > a span:first-child:hover {
  background: #070606;
}
.heder_top .container .right_heder_top .add_cart > a .oder_item-cart {
  color: #333;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e2e2e2;
  font-weight: 700;
  border-radius: 0 6px 6px 0;
}
.heder_top .container .right_heder_top .uers_login {
  position: relative;
}
.heder_top .container .right_heder_top .uers_login .login_regiter {
  background: #e2e2e2;
  color: #333;
  display: block;
  transition: all 0.5s;
  margin-left: 5px;
  border-radius: 6px;
  border: 1px solid transparent;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
}
.heder_top .container .right_heder_top .uers_login .login_regiter span {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid transparent;
}
.heder_top .container .right_heder_top .uers_login .login_regiter span:hover {
  background: #d43b3b;
  color: #fff;
  transition: all 0.5s;
}
.heder_top .container .right_heder_top .uers_login .login_regiter span.bg {
  background: #d43b3b;
  color: #fff;
}
.heder_top .container .right_heder_top .uers_login .nav_login {
  list-style: none;
  position: absolute;
  z-index: 8;
  top: 43px;
  right: 0;
  width: 260px;
  background: #fff;
  box-shadow: 0 3px 27px rgba(0, 0, 0, 0.24);
  padding: 22px 16px 34px 38px;
  opacity: 0;
  pointer-events: none;
}
.heder_top .container .right_heder_top .uers_login .nav_login a {
  padding: 8px;
  color: #777;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 600;
  display: block;
}
.heder_top .container .right_heder_top .uers_login .nav_login a:hover {
  color: #d43b3b;
}
.heder_top .container .right_heder_top .uers_login .nav_login.show-nav-login {
  opacity: 1;
  pointer-events: all;
}

/* end heder_top */
.menu {
  background: #d43b3b;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 7;
}
.menu .container {
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .menu ul {
    display: none;
  }
}
.menu ul li:nth-child(2) .nav-link, .menu ul li:nth-child(3) .nav-link, .menu ul li:nth-child(4) .nav-link, .menu ul li:nth-child(5) .nav-link, .menu ul li:nth-child(6) .nav-link {
  border-left: none;
}
.menu ul .nav-link {
  border: 1px solid #ffffff2b;
  border-bottom: none;
  border-top: none;
  padding: 20px;
  color: #fff;
  transition: all 0.7s;
}
.menu ul .nav-link:hover {
  background: #070606;
  transition: all 0.7s;
}

/* end menu */
/*star main*/
a:hover {
  text-decoration: none;
}

.main-top {
  padding-bottom: 1rem;
  /*star left*/
  /*end left*/
  /*all right*/
  /*end right*/
}
.main-top .main-top-one-all {
  /*star zoom*/
  /*end zoom*/
  /*star thong tin: Ma,gia ca vv...*/
  /*end thong tin: Ma,gia ca vv...*/
  /*star chi tiet noi dung san pham*/
  /*end chi tiet noi dung san pham*/
}
.main-top .main-top-one-all .zoom-all {
  position: relative;
  z-index: 1;
  /*star anh big*/
  /*end big*/
  /*star anh nho*/
  /*end anh nho*/
}
.main-top .main-top-one-all .zoom-all .show {
  margin-top: 15px;
}
.main-top .main-top-one-all .zoom-all .show:hover {
  z-index: 10;
}
.main-top .main-top-one-all .zoom-all .small-img {
  height: 70px;
  margin-top: 10px;
  position: relative;
}
@media only screen and (max-width: 358px) {
  .main-top .main-top-one-all .zoom-all .small-img {
    display: none;
  }
}
.main-top .main-top-one-all .zoom-all .small-img .icon-left {
  width: 12px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transform: rotate(180deg);
}
.main-top .main-top-one-all .zoom-all .small-img .icon-right {
  width: 12px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 0;
}
.main-top .main-top-one-all .zoom-all .small-img .small-container {
  width: 310px;
  height: 70px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.main-top .main-top-one-all .zoom-all .small-img .small-container div {
  width: 800%;
  position: relative;
}
.main-top .main-top-one-all .zoom-all .small-img .small-container .show-small-img {
  width: 70px;
  height: 70px;
  margin-right: 6px;
  cursor: pointer;
  float: left;
}
.main-top .main-top-one-all .zoom-all .small-img .small-container .show-small-img:last-of-type {
  margin-right: 0;
}
.main-top .main-top-one-all .etails-all {
  /*star button mua ngay*/
}
.main-top .main-top-one-all .etails-all .Foods-name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  color: #333333;
  padding-top: 15px;
  text-align: center;
  font-style: italic;
}
.main-top .main-top-one-all .etails-all .code-food {
  line-height: 1.5rem;
  font-size: 18px;
}
.main-top .main-top-one-all .etails-all .tag-foods-name a {
  cursor: pointer;
  color: #e94d2a;
  text-decoration: none;
  font-size: 18px;
}
.main-top .main-top-one-all .etails-all .tag-foods-name a:hover {
  text-decoration: none;
  color: #e94d2a;
}
.main-top .main-top-one-all .etails-all .cart .single_add_to_cart {
  background-image: linear-gradient(#e94d2a, #d43b3b);
  color: #FFF;
  line-height: 2.4rem;
  min-height: 2.5rem;
  padding: 0 1.5rem;
  transition: all 0.3s ease-out;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 1px;
}
.main-top .main-top-one-all .etails-all .cart .single_add_to_cart:hover {
  background-image: linear-gradient(#d43b3b, #fd6e1d);
}
.main-top .main-top-one-all .main-bot-product .bot-product .all-button {
  display: flex;
}
.main-top .main-top-one-all .main-bot-product .bot-product .all-button button:focus {
  outline: none;
  justify-content: flex-start;
}
.main-top .main-top-one-all .main-bot-product .bot-product .all-button .tablink {
  background-color: #d43b3b;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #fff;
  cursor: pointer;
  padding: 10px 4px;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.5;
  display: block;
}
.main-top .main-top-one-all .main-bot-product .bot-product .all-button .tablink:hover {
  color: #d43b3b;
  background-color: #fff;
}
.main-top .main-top-one-all .main-bot-product .bot-product .all-button .tablink:focus-within {
  background-color: #fff;
  color: #d43b3b;
}
.main-top .main-top-one-all .main-bot-product .bot-product .tabcontent {
  border-top: 1px solid #ddd;
  margin-top: 15px;
  width: 100%;
  margin: auto;
  /*end chi tiet san pham */
}
.main-top .main-top-one-all .main-bot-product .bot-product .tabcontent .conten-foods-one h2 {
  padding-top: 15px;
  text-align: center;
  font-weight: 600;
}
.main-top .main-top-one-all .main-bot-product .bot-product .tabcontent .conten-foods-one p {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  font-weight: 600;
}
.main-top .main-top-one-all .main-bot-product .bot-product .tabcontent .conten-foods-one span {
  text-indent: 2rem;
  display: inline-block;
  text-align: justify;
  line-height: 1.8;
}
.main-top .main-top-one-all .main-bot-product .bot-product .tabcontent .conten-foods-two img {
  max-width: 100%;
}
.main-top .main-top-two-all {
  /*star all cac mon an khac*/
  /*end cac mon an khac*/
}
.main-top .main-top-two-all .box-sale-polici {
  /*star chinh sach ban hang*/
  /*end chinh sach ban hang*/
  /*star huong dan mua hang*/
  /*end huong dan mua hang*/
}
.main-top .main-top-two-all .box-sale-polici .box-one {
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid #d43b3b;
}
.main-top .main-top-two-all .box-sale-polici .box-one h3 {
  text-align: center;
  font-size: 20px;
  background-color: #d43b3b;
  font-weight: 600;
  color: #fff;
  border: 5px solid #d43b3b;
  border-radius: 5px;
}
.main-top .main-top-two-all .box-sale-polici .box-one .sale-policy-block span:first-child {
  background-color: #d43b3b;
  padding: 2px 4px;
  border-radius: 40%;
  margin-right: 5px;
  color: #fff !important;
}
.main-top .main-top-two-all .box-sale-polici .box-one .sale-policy-block li {
  list-style-type: none;
  padding: 3px 0 3px 5px;
}
.main-top .main-top-two-all .box-sale-polici .box-one .sale-policy-block li .free-ship {
  color: #d43b3b;
}
.main-top .main-top-two-all .box-sale-polici .box-two {
  border-radius: 5px;
  border: 1px solid #d43b3b;
  margin-top: 15px;
  overflow: hidden;
}
.main-top .main-top-two-all .box-sale-polici .box-two h3 {
  border-radius: 5px;
  font-size: 20px;
  background-color: #d43b3b;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.main-top .main-top-two-all .box-sale-polici .box-two li {
  list-style-type: none;
  padding: 3px 0 3px 5px;
}
.main-top .main-top-two-all .box-sale-polici .box-two li .ng-binding {
  color: #d43b3b;
}
.main-top .main-top-two-all .food-nav {
  text-align: center;
}
.main-top .main-top-two-all .food-nav h3 {
  border-radius: 5px;
  margin-top: 1rem;
  font-size: 20px;
  color: #fff;
  background-color: #d43b3b;
  text-align: center;
  text-transform: capitalize;
}
.main-top .main-top-two-all .food-nav .item-main-mid {
  padding: 0;
}
.main-top .main-top-two-all .food-nav .item-main-mid .item-conten-foods {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0 15px;
  padding-bottom: 15px;
}
.main-top .main-top-two-all .food-nav .item-main-mid .item-conten-foods:hover .vnd {
  opacity: 1 !important;
  transition: all 0.3s;
}
.main-top .main-top-two-all .food-nav .item-main-mid .item-conten-foods .container-img {
  overflow: hidden;
}
.main-top .main-top-two-all .food-nav .item-main-mid .item-conten-foods .container-img a {
  position: relative;
  display: block;
  z-index: 1;
}
.main-top .main-top-two-all .food-nav .item-main-mid .item-conten-foods .container-img a:hover::before {
  box-shadow: inset 0 0 150px rgba(219, 205, 205, 0.26);
}
.main-top .main-top-two-all .food-nav .item-main-mid .item-conten-foods .container-img a::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0 #fff;
  transition: .3s ease;
}
.main-top .main-top-two-all .food-nav .item-main-mid .item-conten-foods .container-img a img {
  max-width: 100%;
}
.main-top .main-top-two-all .food-nav .item-main-mid .item-conten-foods .vnd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 100;
  opacity: 0;
}
.main-top .main-top-two-all .food-nav .item-main-mid .item-conten-foods .vnd .fa-cart-arrow-down {
  padding: 9px;
  width: 2.2rem;
  height: 2.2rem;
  color: #fff;
  background-color: #d43b3b;
  transition: all 0.5s;
  cursor: pointer;
}
.main-top .main-top-two-all .food-nav .item-main-mid .item-conten-foods .vnd .fa-heart {
  margin-left: 7px;
  width: 36px;
  height: 36px;
  padding: 8px;
  color: #777;
  background: #ebeaea;
  transition: all 0.5s;
  cursor: pointer;
}
.main-top .main-top-two-all .food-nav .item-main-mid .product-price {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 5px 15px 10px;
}
.main-top .main-top-two-all .food-nav .item-main-mid .product-price p {
  font-style: italic;
  font-weight: 500;
  font-size: 1rem;
}

/*hover n├║t tr├íi v├á phß║úi trong ß║únh nhß╗Å*/
.icon-left:hover, .icon-right:hover {
  opacity: 0.5;
}

/*end hover nut trai va phai trong anh nho*/
/*star hover tim va gio hang*/
/*star-trai tim*/
.svg-inline--fa.fa-heart.fa-w-16 {
  border-radius: 5px;
  background-color: black;
}

#heat-like:hover {
  color: #d865ba;
  background-color: #fff;
}
#heat-like:active {
  color: red;
  background-color: #fff;
}
#heat-like:visited {
  color: red;
  background-color: #fff;
}

/*end trai tim*/
.svg-inline--fa.fa-cart-arrow-down.fa-w-18 {
  border-radius: 5px;
}

#arr-down:hover {
  color: #fff;
  background-color: black;
}
#arr-down:active {
  color: #fff;
}
#arr-down:visited {
  color: #fff;
}

/*repoinsive*/
@media only screen and (max-width: 576px) {
  .conten-foods-one h2 {
    font-size: 24px;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .main-top {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 576px) {
  .main-top .main-top-one-all {
    padding: 0;
    padding-left: 15;
  }
}
@media only screen and (min-width: 768px) {
  .main-top .main-top-one-all {
    padding: 0;
  }
}
@media only screen and (min-width: 992px) {
  .main-top .main-top-one-all {
    padding: 0 15px 0 0;
  }
}
@media only screen and (min-width: 1200px) {
  .main-top .main-top-one-all {
    padding: 0 15px 0 0;
  }
}
.main-top .main-top-two-all {
  padding-right: 0;
}
@media only screen and (max-width: 576px) {
  .main-top .main-top-two-all {
    padding: 0px;
  }
}
@media only screen and (min-width: 576px) {
  .main-top .main-top-two-all {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 768px) {
  .main-top .main-top-two-all {
    padding: 0;
  }
}

@media only screen and (max-width: 576px) {
  .cart {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 576px) {
  .cart {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .cart {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .cart {
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) {
  .cart {
    text-align: center;
  }
}

/*end main*/
/*star footer*/
.footer {
  background: #131212;
  padding: 30px 0;
}
.footer .container {
  padding: 0;
}
@media only screen and (max-width: 576px) {
  .footer .container {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 576px) {
  .footer .container {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 768px) {
  .footer .container {
    padding: 0;
  }
}
@media only screen and (max-width: 576px) {
  .footer .container .col-4 {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 576px) {
  .footer .container .col-4 {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .footer .container .col-4 {
    max-width: 33.33%;
    flex: 0 0 33.33%;
    margin: 0;
  }
}
@media only screen and (min-width: 992px) {
  .footer .container .col-4 {
    max-width: 33.33%;
    flex: 0 0 33.33%;
  }
}
.footer .container h6 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
}
.footer .container .col-4:first-child p {
  color: #fff;
}
.footer .container .col-4:nth-child(2) img {
  width: 30%;
  display: block;
  height: auto;
  margin: 0 auto;
}
.footer .container .col-4:last-child p {
  color: #fff;
  text-transform: capitalize;
}
.footer .container .col-4:last-child p span {
  font-weight: 500;
  font-size: 14px;
}

/* end footer */
.end {
  background: #090909;
  padding: 14px;
  color: #fff;
}

/*chinh su lai*/

/*# sourceMappingURL=chitiet.css.map */
